{% extends 'home/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'perfil/css/change_name.css' %}" />
{% endblock %} {% block title %} Perfil {% endblock %} {% block contenido %}

<div class="form-container">
  <h1>Editar nombre y pais</h1>
  <form class="form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small>{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p class="alert">{{error}}</p>
      {% endfor %}
      {% if form.non_field_errors %}
        <div class="alert">
          <p>{{form.non_field_errors}}</p>
        </div>
      {% endif %}
      </p>
    {% endfor %}
    <input class="button" type="submit" value="Guardar cambios" />
  </form>
</div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
      function loadStates(country){
        $.ajax({
                url: "{% url 'load_states' %}",
                data: {
                    'country': country
                },
                dataType: 'json',
                success: function(data) {
                    var opciones = '<option value="">Selecciona una ciudad</option>';
                    for (var i = 0; i < data.length; i++) {
                        opciones += '<option value="' + data[i].id_state + '">' + data[i].name + '</option>';
                    }
                    $('#id_state').html(opciones);
                }
            });
      }
      loadStates($('#id_country').val());

      $("#id_country").change(function() {
          var country = $(this).val();
          loadStates(country);
      });
    });
</script>
{% endblock %}